
.about-us {
    padding: 60px 0;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .about-us h1 {
    font-size: 36px;
    color: #ff5e14; /* Color del título consistente con el header/footer */
    margin-bottom: 20px;
  }
  
  .about-us p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .about-us h1 {
      font-size: 28px;
    }
  }
  