.product-list {
    padding: 50px 0;
    background: #f9f9f9; /* Fondo claro para contraste */
  }
  
  .product-list .container {
    text-align: center;
  }
  
  .product-list h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  